@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Sour Gummy';
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-list-item {
    width: 300px;
    text-align: center;
}

.image-list-item > img {
    width: 95%;
    padding: 3px;
}

.navbar-collapse {
    justify-content: right;
}

@media screen and (max-width: 768px) {
    #query-type, #keyword {
        max-width: 45%;
    }
}
@media screen and (max-width: 360px) {
    #query-type, #keyword {
        max-width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .image-list-item {
        width: 300px;
        text-align: center;
    }
    .image-list-item > img {
        width: 100%;
        padding: 3px 0px;
    }
}
